
body {
    padding: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("niilo-isotalo--BZc9Ee1qo0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    color: goldenrod;
}
h1 {
    color: bisque;
}
h2 {
    color: bisque;
    text-align: center;
    background-color: forestgreen;
    width: 150px;
}
ul {
    border: 1em;
    color: bisque;
    margin:5px;
};
button {
    color: teal;
}
p {
    color: bisque;
}