
body {
    color:bisque;   
    padding: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("./images/niilo-isotalo--BZc9Ee1qo0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
};
div {
    color: goldenrod;
};
.characters {
    color: goldenrod;
    border: 1px green;
}
#barbarian {
    background-image: url("./images/dnd_barbarian.jpeg");
}
#bard {

}
#cleric {

}
#druid {

}

#fighter {

}
#monk {

}

#palidan {

}
#ranger {

}
#rogue {

}
#sorcerer {

}
#warlock {

}
#wizard {

}
h1 {
    color: bisque;
};
h2 {
    color: bisque;
    text-align: center;
    background-color: forestgreen;
    width: 150px;
};
h3 {
    color: hotpink;
};
h4 {
    background-color: rgb(141, 121, 121);
};
ul {
    border: 1em;
    color: bisque;
    margin:5px;
};
button {
    color: teal;
};
p {
    color: bisque;
};
