
body {
    color:bisque;   
    padding: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("niilo-isotalo--BZc9Ee1qo0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
};
div {
    color: goldenrod;
};
#fighter {
    color: goldenrod;
    border: 1px green;
}
h1 {
    color: bisque;
};
h2 {
    color: bisque;
    text-align: center;
    background-color: forestgreen;
    width: 150px;
};
h3 {
    color: hotpink;
};
h4 {
    background-color: rgb(141, 121, 121);
};
ul {
    border: 1em;
    color: bisque;
    margin:5px;
};
button {
    color: teal;
};
p {
    color: bisque;
};
